body{
    display: flex;
    flex-direction: column;
    font-family: Roboto, sans-serif;
}

.site{
    display: flex;
    flex-direction: column;
    flex: 1;
}


/* Start of body1; header, links, text, and image*/
.body1{
    background-color: #1f2937;
}

/* header logo and links*/
.headerlogo{
    font-size: 24px;
    color: #f9faf8;
}

.links{
    font-size: 18px;
    color: #e5e7eb;
}

ul{
    list-style: none;
    display: flex;
    gap: 20px;
}
 
a{
    text-decoration: none;
    color: #f9faf8;
}  

.header-links{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin: 0;
    padding: 20px 60px 20px 100px ;   
}
/* header logo and links*/

/* text and image*/
.text-image{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin: 0;
    padding: 20px 60px 20px 100px ; 
    width: 80%;
}
.textbox1{
    width: 500px;
    
}

.text1{
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.text2{
    font-size: 18px;
    color: #e5e7eb;
    padding: 20px;
}

.signup{
    background-color: #3882f6;
    font-size: 18px;
    color: #f9faf8;
    border-radius: 10px;
    padding: 8px 16px;
    
}

.main-image{
    display: flex;
    width: 250px;
    height: 250px;
    margin: 50px;
}

/* text and image*/
/* End of body1; header, links, text, and image*/


/* Start of body2; contains project header, and listing*/
.informationheader{
    text-align: center;
    padding: 50px;
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
}

.all-information{
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 25px;   
}

.information{
   justify-content: center;
   justify-items: center;
}

img{
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
}

.text3{
    font-size: 18px;
    text-align: center;
}

/* End of body2; contains project header, and listing*/


/* Start of body3; contains quote*/
.quote{
    background-color: #e5e7eb;
    padding: 100px;
}

.text4{
    font-size: 36px;
    font-style: italic;
    color: #1e2937;
    text-align: center;
}

.text5{
    text-align: center;
}
/* End of body3; contains quote*/

/* Start of body4; contains call to action*/
.body4{
    display: flex;
    justify-content: center;
    padding: 75px;
}

.bluebox{
    display: flex;
    width: 600px;
    background-color: #3882f6;
    justify-content: space-around;
    padding: 20px;
    border-radius: 10px;
}

.textbox2{
    display: flex;
    flex-direction: column;
    text-align: center;
    color: #e5e7eb;
    
}

/* End of body4; contains call to action*/

/* Start of footer*/
.footer{
    background-color: #1f2937;
    text-align: center;
    font-size: 18px;
    color: #e5e7eb;
    padding: 25px;
}
/* End of footer*/