body{
    display: flex;
    flex-direction: column;
    font-family: Roboto, sans-serif;
}

.site{
    display: flex;
    flex-direction: column;
    flex: 1;
}

.body1{
    background-color: #1f2937;
}

/* header logo and links*/
.headerlogo{
    font-size: 24px;
    color: #f9faf8;
}

.links{
    font-size: 18px;
    color: #e5e7eb;
}

ul{
    list-style: none;
    display: flex;
    gap: 20px;
}
 
a{
    text-decoration: none;
    color: #f9faf8;
}  

.header-links{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin: 0;
    padding: 20px 60px 20px 100px ;   
}
/* header logo and links*/

/* text and image*/
.text-image{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin: 0;
    padding: 20px 60px 20px 100px ; 
}
.textbox1{
    width: 500px;
}

.text1{
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.text2{
    font-size: 18px;
    color: #e5e7eb;
}

.signup{
    background-color: #3882f6;
    font-size: 24px;
    color: #f9faf8;
    border-radius: 10px;
    padding: 8px 16px;
    
}

.image{
    display: flex;
    width: 200px;
    height: 200px;
}

/* text and image*/



.body3{
    background-color: #e5e7eb;
}